/* ====== GLOBAL RESET & FONT ====== */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: 'Segoe UI', 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
            background-color: #ffffff;
            color: #040404;
            background-image: url("/vite-project/src/assets/download.jpg");
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            overflow-x: hidden;
            position: relative;
        }
        
        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #5453536f , #f8f7f721 );
            z-index: -1;
        }